﻿.pageBreak {
    page-break-after:always;
}
table.fixed {
    margin: 0 auto;
    width: 100px;
}
table.footerFixed {
    overflow:scroll;
    width:auto;
}
.fixed thead {
    position: relative;
    display: block;
    vertical-align: top;
}
.fixed tbody {
    display: block;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    /*margin-right: 20px;*/
    margin-bottom: 20px;
    border-bottom: 3px solid lightgray;
}
.fixed tbody.fixedHeight {
    display: block;
    height: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    /*margin-right: 20px;*/
    margin-bottom: 20px;
    border-bottom: 3px solid lightgray;
}
.yearlyrevenueScroll {
    display: block;
    height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    /*margin-right: 20px;*/
    margin-bottom: 20px;
    border-bottom: 3px solid lightgray;
}
.totalFooter {
    margin-top:-15px;
}
.fixed td {
    overflow:hidden;
}

.fixed .tdAuto {
    width: auto;
    width:100%;
}
.fixed .td50px {
    min-width: 50px;
    max-width: 50px;
}
.fixed .td70px {
    min-width: 70px;
    max-width: 70px;
}
.fixed .td85px {
    min-width: 85px;
    max-width: 85px;
}
.fixed .td90px {
    min-width: 90px;
    max-width: 90px;
}
.fixed .td100px {
    min-width: 100px;
    max-width: 100px;
}
.fixed .td115px {
    min-width: 115px;
    max-width: 115px;
}
.fixed .td120px {
    min-width: 120px;
    max-width: 120px;
}
.fixed .td130px {
    min-width: 130px;
    max-width: 130px;
}
.fixed .td140px {
    min-width: 140px;
    max-width: 140px;
}
.fixed .td145px {
    min-width: 145px;
    max-width: 145px;
}
.fixed .td150px {
    min-width: 150px;
    max-width: 150px;
}
.fixed .td170px {
    min-width: 170px;
    max-width: 170px;
}
.fixed .td195px {
    min-width: 195px;
    max-width: 195px;
}
.fixed .td215px {
    min-width: 215px;
    max-width: 215px;
}
.fixed .td515px {
    min-width: 515px;
    max-width: 515px;
}

.footerFixed .td130px {
    min-width: 130px;
    max-width: 130px;
}
.footerFixed .td145px {
    min-width: 145px;
    max-width: 145px;
}

.fixedHeight .td100px {
    min-width: 100px;
    max-width: 100px;
}
.fixedHeight .td115px {
    min-width: 115px;
    max-width: 115px;
}
.fixedHeight .td140px {
    min-width: 140px;
    max-width: 140px;
}

/*end fixed*/


.brandImage {
    width: 25px;
}

div.popover-content.confirmation {
    width: 200px;
}

.top-rightModalAlert {
    position: fixed;
    top: 70px;
    right: 50px;
    z-index: 2147483647;
}

.footer {
    padding: 5px 0 10px;

}

.calendar {
    max-width: 900px;
    margin: 0 auto;
}

#page {
    padding: 80px 0 30px 0;
    min-height: 500px;
}

.addMarginTop5px {
    margin-top: 5px;
}

.pull-right.addMarginTop8px {
    margin-top: 8px;
}

table.view th {
    text-align: center;
}

table.wideTable thead {
    font-size: 12px;
}

table.yearlyrevenueFont thead {
    font-size:14px !important;
}

table.boardstatisticsFont thead {
    font-size:14px !important;
}

table.view thead {
    color: green;
    font-weight: bolder;
}

table.view td, table.view thead, table.view th {
    border: 1px solid lightgray;
}

table.view .form-control {
    height: 20px;
    font-size: 10px;
    margin-top: 5px;
    padding: 3px;
}

table.wideTable td {
    /*font-size: 11px;*/
}


tbody.removeLastRow tr:last-child {
    visibility: hidden;
}


table.view tr.info, table.wideTable tr.info,
table.view tr.warning, table.wideTable tr.warning,
table.view tr.success, table.wideTable tr.success {
    font-weight: bolder;
    white-space: nowrap;
}
table.view tr.success.nowrap {
    white-space: normal;
}
table.view .rightAlign {
    text-align: right;
}

table.view .rightPadding {
    padding-right:15px;
}

.adjustPagingPosition {
    position: relative;
    top: -19px;
}

.margin {
    margin-bottom: -60px;
}

.margin1 {
    margin-top: -25px;
    margin-bottom: -50px;
}

.margin2 {
    margin-top: -50px;
}

.calendardesc {
    padding-right: 20px;
}


a:hover {
    text-decoration: none;
    cursor: pointer;
}


.legend {
    width: 100%;
    display: block;
}

.label-holiday {
    background-color: #0000ff;
}

.label-birthdays {
    background-color: #5bc0de;
}

/*.label-roomreservation {
    background-color: #428bca;
}*/

table tr.header td, table tr.header th {
    font-weight: bold;
    border: 1px solid lightgray;
    text-align: center;
    vertical-align: middle;
}
