﻿<div class="margin" ng-controller="modalCalendarController">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Type:</label>
                <span>{{eventType.Name}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label"><i class="fa fa-calendar"></i> Date From</label>
                <input type="text" class="form-control" ng-model="calendar.datefrom" bs-datepicker data-autoclose="1" data-date-type="number" data-date-format="MM-dd-yyyy">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label"><i class="fa fa-calendar"></i> Date To</label>
                <input type="text" class="form-control" ng-model="calendar.dateto" bs-datepicker data-autoclose="1" data-date-type="number" data-date-format="MM-dd-yyyy">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label">Title</label>
                <input class="form-control" type="text" ng-model="calendar.title" ng-disabled="" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="comment">Note</label>
                <textarea class="form-control" rows="5" ng-model="calendar.note"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label class="control-label">Attached File</label>
                <input class="form-control" type="text" ng-model="calendar.attachedfile" ng-disabled="true" />
            </div>
        </div>
        <div class="col-lg-2 br">
            <div class="form-group">
                <br />
                <label>Send E-mail</label>
                <input type="checkbox" ng-model="calendar.sendemail" />
            </div>
        </div>
        <div class="col-lg-3 br">
            <div class="form-group">
                <br />
                <input type="file" id="file" name="file" onchange="angular.element(this).scope().fileNameChanged()" />
            </div>
        </div>
        <!--<div class="col-lg-2">
            <br />
            <div class="form-group">
                <button ng-click="upload()" class="btn btn-default btn-block">Upload</button>
            </div>
        </div>-->
    </div>
    <div class="pull-right">
        <div class="form-inline  ">
            <a ng-show="calendarID" auto-close="1" class="btn btn-danger" data-template-url="APP/Views/popOverDeleteCalendarConfirmation.tpl.html" data-animation="am-flip-x" bs-popover>
                Delete
            </a>
            <button type="button" class="btn btn-primary" ng-click="saveAnnounce()">Save</button>
        </div>
    </div>

</div>






