﻿<div ng-controller="modalCalendarController">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Type:</label>
                <span>{{eventType.Name}}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label"><i class="fa fa-calendar"></i> Date From</label>
                <input type="text" class="form-control" ng-model="calendar.datefrom" bs-datepicker data-autoclose="1" data-date-type="number" data-date-format="MM-dd-yyyy">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label"><i class="fa fa-calendar"></i> Date To</label>
                <input type="text" class="form-control" ng-model="calendar.dateto" bs-datepicker data-autoclose="1" data-date-type="number" data-date-format="MM-dd-yyyy">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label">Room</label>
                <select class="form-control" ng-model="calendar.attachedfile" ng-options="view as view for view in viewRooms"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Start Time (HH:MM)</label>
                <input class="form-control" size="8" ng-model="calendar.datefrom" name="time" bs-timepicker data-time-format="h:mm:a" data-autoclose="1" data-round-display="true" type="text">
                <!--<select class="form-control" ng-model="viewSTime" ng-options="view as view for view in viewTimes"></select>-->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">End Time (HH:MM)</label>
                <input class="form-control" size="8" ng-model="calendar.dateto" name="time" bs-timepicker data-time-format="h:mm:a" data-autoclose="1" data-round-display="true" type="text">
                <!--<select class="form-control" ng-model="viewETime" ng-options="view as view for view in viewTimes"></select>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="comment">Note</label>
                <textarea class="form-control" rows="5" ng-model="calendar.note"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="well well-sm">
                <div class="form-group">
                    <span>Legend:</span><br /><br />
                    <small>CF1 – ETC Conference Room</small><br />
                    <small>CF2 – ETCGG Conference Room</small><br />
                    <small>CF3 – ETCGH Conference Room</small><br />
                    <small>CF4 – ETCPT Conference Room</small>
                </div>
            </div>
        </div>
    </div>


    <div class="pull-right">
        <div class="form-inline  ">
            <a ng-show="calendarID" auto-close="1" class="btn btn-danger" data-template-url="APP/Views/popOverDeleteCalendarConfirmation.tpl.html" data-animation="am-flip-x" bs-popover>
                Delete
            </a>
            <button type="button" class="btn btn-primary" ng-click="saveRoomReserve()">Save</button>
        </div>
    </div>
</div>







