﻿<div class="container">
    <div class="pull-right addMarginTop5px">
        <br />
        <button type="button" class="btn btn-primary" ng-click="downloadPDF()" ng-disabled="downloadText === 'Downloading..'">{{downloadText}}</button>
        <button type="button" class="btn btn-primary" ng-click="ProcessBoardStatistics();"
                data-toggle="tooltip" data-placement="bottom" title="Click here to process."
                data-step="3" data-intro="Click here to process." data-position='bottom-middle-aligned'>
            {{lblProcess}}
        </button>
    </div>
    <div class="row" data-step="2" data-intro="Choose from the dropdowns to filter results." data-position='bottom-middle-aligned'>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Unit</label>
                <select class="form-control" ng-change="LoadTable();"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired unit."
                        ng-options="o.Name for o in units track by o.Name"
                        ng-model="unit"></select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">Month</label>
                <select class="form-control" ng-change="LoadTable();"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired month."
                        ng-options="o.Name for o in months track by o.Name"
                        ng-model="month"></select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">Year</label>
                <select class="form-control" ng-change="LoadTable();"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired year."
                        ng-options="o.Name for o in years track by o.Name"
                        ng-model="year"></select>

            </div>
        </div>

    </div>
</div>
<div id="tableParent" class="container-fluid">
    <table class="table table-responsive wideTable view fixed boardstatisticsFont" data-step="4" data-intro="Shows the results in this table." data-position='bottom-middle-aligned'>
        <thead>
            <tr class="success header">
                <td class="td170px">{{columns[0].name}}</td>
                <td class="td85px">{{columns[1].name}}</td>
                <td class="td120px">{{columns[2].name}}</td>
                <td class="td120px">{{columns[3].name}}</td>
                <td class="td100px">{{columns[4].name}}</td>
                <td class="td100px">{{columns[5].name}}</td>
                <td class="td120px">{{columns[6].name}}</td>
                <td class="td120px">{{columns[7].name}}</td>
                <td class="td145px">{{columns[8].name}}</td>
                <td class="td145px">{{columns[9].name}}</td>
                <td class="td120px">{{columns[10].name}}</td>
                <td class="td145px">{{columns[11].name}}</td>
                <td class="td170px">{{columns[12].name}}</td>
                <td class="td120px">{{columns[13].name}}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="{warning:isIncludedInList(item.Period),success:isIncludedInList2(item.Period)}" ng-repeat="item in tableData">
                <td class="td170px">{{item.Period}}</td>
                <td class="td85px">{{isIncludedInList(item.Period) ? '' :  item.Unit}}</td>
                <td class="rightAlign td120px">{{isIncludedInList(item.Period) ? '' :  item.NoOfClients}}</td>
                <td class="rightAlign td120px">{{isIncludedInList(item.Period) ? '' :  item.PercentOfClients}}</td>
                <td class="rightAlign td100px">{{isIncludedInList(item.Period) ? '' :  item.Revenue}}</td>
                <td class="rightAlign td100px">{{isIncludedInList(item.Period) ? '' :  item.PercentRevenue}}</td>
                <td class="rightAlign td120px">{{isIncludedInList(item.Period) ? '' :  item.EqVolume}}</td>
                <td class="rightAlign td120px">{{isIncludedInList(item.Period) ? '' :  item.EqPercentVolume}}</td>
                <td class="rightAlign td145px">{{isIncludedInList(item.Period) ? '' :  item.EqMaketVolume}}</td>
                <td class="rightAlign td145px">{{isIncludedInList(item.Period) ? '' :  item.EqETCPercentVolume}}</td>
                <td class="rightAlign td120px">{{isIncludedInList(item.Period) ? '' :  item.OptVolume}}</td>
                <td class="rightAlign td145px">{{isIncludedInList(item.Period) ? '' :  item.OptETCPercentVolume}}</td>
                <td class="rightAlign td170px">{{isIncludedInList(item.Period) ? '' :  item.OptMaketVolume}}</td>
                <td class="rightAlign rightPadding td120px">{{isIncludedInList(item.Period) ? '' :  item.OptPercentVolume}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!--use in reports ==============================================================================-->
<div id="reportParameters" ng-hide="true">
    <ul class="list-group">
        <li class="list-group-item">
            <label>Unit:</label> &nbsp; {{unit.Name}}
        </li>
        <li class="list-group-item">
            <label>Month:</label> {{month.Name}}
        </li>
        <li class="list-group-item">
            <label>Year:</label> {{year.Name}}
        </li>
        
    </ul>

</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
