﻿
<div class="row calendar">

    <div class="form-inline">
        <!--<label class="control-label"><i class="fa fa-calendar"></i> Search Date</label>
        <input class="form-control" type="text" ng-model="aaaaa" bs-datepicker data-autoclose="1" data-date-type="number" data-date-format="MM-dd-yyyy">-->

        <label class="control-label">Type</label>
        &nbsp;
        <select class="form-control" id="eventType"
                data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired type."
                ng-options="o.Name for o in eventTypes track by o.Name"
                ng-model="eventType" ng-change="ReloadCalendar()"
                data-step="2" data-intro="Choose from this dropdown to filter by type." data-position='bottom-middle-aligned'></select>


        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" ng-click="showModal(0,'New Entry',eventType.Name)"
                data-toggle="tooltip" data-placement="bottom" title="Click here to add new calendar entry."
                ng-disabled="eventType.Name === 'Attendance' || eventType.Name === 'Birthdays' || eventType.Name === 'Rate Change' || eventType.Name === 'All'" data-step="3" data-intro="Click here to add new entry." data-position='bottom-middle-aligned'>
            Data Entry
        </button>
        <!--&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" ng-click="" ng-disabled="true">Holiday</button>-->

        <div class="pull-right" data-step="4" data-intro="The Legend." data-position='bottom-middle-aligned'>
            <span class="label label-info">Announcement</span> &nbsp;
            <!--<span class="label label-warning">Attendance</span>&nbsp;
            <span class="label label-success">Birthdays</span>&nbsp;-->
            <span class="label label-warning">Holiday</span>&nbsp;
            <span class="label label-danger">Rate Change</span>&nbsp;
            <span class="label label-success">Room Reservation</span>&nbsp;
        </div>
    </div>

    <br />


</div>
<br />
<div id='calendar' class="calendar" data-step="5" data-intro="View the Calendar." data-position='bottom-middle-aligned'></div>


<br /><br />
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>