﻿
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">Month</label>
                <select class="form-control"
                        ng-options="o.Name for o in months track by o.Name"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired month."
                        ng-model="month" ng-change="GetRollUps();" data-step="2" data-intro="Choose from this dropdown to filter results by Month." data-position='bottom-right-aligned'></select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">Year</label>
                <select class="form-control"
                        ng-options="o.Name for o in years track by o.Name"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired year."
                        ng-model="year" ng-change="GetRollUps();" data-step="3" data-intro="Choose from this dropdown to filter results by Year." data-position='bottom-right-aligned'></select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="control-label">Roll Up</label>
                <select class="form-control" ng-change="LoadTable();"
                        ng-options="o.Name for o in rollUps track by o.Name"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired Roll Up."
                        ng-model="rollUp" data-step="4" data-intro="Choose from this dropdown to filter results by Roll Up." data-position='bottom-right-aligned'></select>
            </div>
        </div>

    </div>

    <table class="table table-striped table-responsive view fixed" data-step="5" data-intro="Shows the results in this table." data-position='bottom-right-aligned'>
        <thead>
            <tr class="success">
                <th class="td145px" data-step="6" data-intro="You can sort row by clicking the table headers. And search from a specific row." data-position='top'>
                    <a ng-click="order('Correspondent')">{{columns[0].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Correspondent" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[0].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td145px">
                    <a ng-click="order('Office')">{{columns[1].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Office" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[1].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td145px">
                    <a ng-click="order('AccountNo')">{{columns[2].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.AccountNo" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[2].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td145px">
                    <a ng-click="order('CompanyName')">{{columns[3].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.CompanyName" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[3].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td145px">
                    <a ng-click="order('RollUp')">{{columns[4].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.RollUp" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[4].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td145px">
                    <a ng-click="order('ShareCount')">{{columns[5].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.ShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[5].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td145px">
                    <a ng-click="order('Rate')">{{columns[6].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Rate" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[6].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td145px">
                    <a ng-click="order('ClearingFee')">{{columns[7].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.ClearingFee" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[7].name" ng-class="{reverse:reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody>


            <tr ng-repeat="item in filtered = (tableData | filter:search) | orderBy:predicate:reverse | startFrom:(page.currentPage * page.size) - page.size | limitTo: page.size">
                <td class="td145px">{{item.Correspondent}}</td>
                <td class="td145px">{{item.Office}}</td>
                <td class="td145px">{{item.AccountNo}}</td>
                <td class="td145px">{{item.CompanyName}}</td>
                <td class="td145px">{{item.RollUp}}</td>
                <td class="rightAlign td145px">{{item.ShareCount}}</td>
                <td class="rightAlign td145px">{{item.Rate}}</td>
                <td class="rightAlign rightPadding td145px">{{item.ClearingFee}}</td>
            </tr>
            <tr ng-hide="filtered.length">
                <td colspan="8">No data</td>
            </tr>
        </tbody>

    </table>


    <div class="row">
        <div class="col-md-2" data-step="7" data-intro="Change row count of the table." data-position='top'>
            <div class="input-group">
                <span class="input-group-addon input-sm">ROWS</span>
                <input class="form-control input-sm" type="text" ng-model="page.size" />
            </div>
        </div>

        <paging class="adjustPagingPosition"
                page="page.currentPage"
                page-size="page.size"
                total="filtered.length"
                dots="..."
                scroll-top="false"
                hide-if-empty="false    "
                ul-class="pagination pagination-sm"
                active-class="active"
                disabled-class="disabled"
                show-prev-next="true"
                data-step="8" data-intro="Navigate rows here." data-position='right'>
        </paging>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>