﻿<div class="container">
    <div class="row" data-step="2" data-intro="Choose from the dropdowns to filter desired date of Clearing Revenue results." data-position='bottom-middle-aligned'>

        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">From</label>
                <select class="form-control" ng-change="ChangeDates();"
                        data-toggle="tooltip" data-placement="top" title="Choose from this dropdown to display desired month."
                        ng-options="o.Name for o in months track by o.Name"
                        ng-model="fromMonth"></select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <select class="form-control" ng-change="ChangeDates();"
                        data-toggle="tooltip" data-placement="top" title="Choose from this dropdown to display desired year."
                        ng-options="o.Name for o in years track by o.Name"
                        ng-model="fromYear"></select>

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">To</label>
                <select class="form-control" ng-change="ChangeDates();"
                        data-toggle="tooltip" data-placement="top" title="Choose from this dropdown to display desired month."
                        ng-options="o.Name for o in months track by o.Name"
                        ng-model="toMonth"></select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <select class="form-control" ng-change="ChangeDates();"
                        data-toggle="tooltip" data-placement="top" title="Choose from this dropdown to display desired year."
                        ng-options="o.Name for o in years track by o.Name"
                        ng-model="toYear"></select>

            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Unit</label>
                <select class="form-control" ng-change="ChangeDates();"
                        data-toggle="tooltip" data-placement="top" title="Choose from this dropdown to display desired unit."
                        ng-options="item.value for item in units track by item.value"
                        ng-model="unit"></select>

            </div>
        </div>
    </div>
    <br />
    <div class="panel-group" ng-model="activePanels" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>

        <div class="panel panel-success" data-step="4" data-intro="Shows chart/table data." data-position='bottom-middle-aligned'>
            <div class="panel-heading">
                <span class="pull-right">
                    <a class="btn-sm" data-step="5" ng-click="downloadPDF()" id="btnDownload"
                       data-toggle="tooltip" data-placement="bottom" title="Click here to download as PDF"
                       data-intro="Click here to download as PDF." data-position='bottom-middle-aligned'>
                        {{downloadText}} &nbsp;<span class="glyphicon glyphicon-download"></span>
                    </a>
                    <a class="btn-sm" ng-click="ChangeView()" data-step="3"
                       data-toggle="tooltip" data-placement="bottom" title="Click here to toggle detailed view."
                       data-intro="Click here to change to detailed view" data-position='bottom-middle-aligned'>
                        Toggle View &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                    </a>

                </span>
                <h3 class="panel-title">Client Retention</h3>

            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                        <div id="legends">
                            <div class="pull-right">
                                <span class="label label-info">Active</span> &nbsp;
                                <span class="label label-success">New</span> &nbsp;
                                <span class="label label-warning">Closed</span>
                            </div>
                        </div>

                        <canvas id="chartImage" class="chart chart-line" chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colours="chartColors"></canvas>


                    </div>
                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                        <div class="pull-right">
                            <label>Status:&nbsp;</label>
                            <button type="button" class="btn btn-default" ng-model="selectedStatuses" data-html="1" data-multiple="1" bs-options="item.value as item.value for item in ddStatuses" bs-select>
                                Action <span class="caret"></span>
                            </button>
                        </div>
                        <br /><br />

                        <table class="table table-striped table-responsive view ">
                            <thead>
                                <tr class="success">
                                    <th>
                                        <a ng-click="order('Date')">Date</a>
                                        <input class="form-control input-sm" type="text" ng-model="search.Date" delete-if-empty />
                                    </th>
                                    <th>
                                        <a ng-click="order('CompanyName')">Company Name</a>
                                        <input class="form-control input-sm" type="text" ng-model="search.CompanyName" delete-if-empty />
                                    </th>
                                    <th>
                                        <a ng-click="order('Status')">Status</a>
                                        <input class="form-control input-sm" type="text" ng-model="search.Status" delete-if-empty />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in filtered = (tableData | filter:search  |filter:customFilter) | orderBy:predicate:reverse | startFrom:(page.currentPage * page.size) - page.size | limitTo: page.size">
                                    <td>{{item.Date}}</td>
                                    <td>{{item.CompanyName}}</td>
                                    <td>{{item.Status}}</td>
                                </tr>
                            </tbody>

                        </table>

                        <div class="row">
                            <div class="col-md-2" data-step="6" data-intro="Change row count of the table." data-position='top'>
                                <div class="input-group">
                                    <span class="input-group-addon input-sm">ROWS</span>
                                    <input class="form-control input-sm" type="text" ng-model="page.size" />
                                </div>
                            </div>

                            <paging class="adjustPagingPosition"
                                    page="page.currentPage"
                                    page-size="page.size"
                                    total="filtered.length"
                                    dots="..."
                                    scroll-top="false"
                                    hide-if-empty="false    "
                                    ul-class="pagination pagination-sm"
                                    active-class="active"
                                    disabled-class="disabled"
                                    show-prev-next="true"
                                    data-step="7" data-intro="Navigate rows here." data-position='right'>
                            </paging>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


<!--use in reports ==============================================================================-->
<div id="reportParameters" ng-hide="true">
    <ul class="list-group">
        <li class="list-group-item">
            <label>From:</label> {{fromMonth.Name + ' ' + fromYear.Name}}
        </li>
        <li class="list-group-item">
            <label>To:</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{toMonth.Name + ' ' + toYear.Name}}
        </li>
        <li class="list-group-item">
            <label>Unit:</label> &nbsp; {{unit.value}}
        </li>
    </ul>

</div>
<div id="latestData" ng-hide="true">
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">
            {{toMonth.Name}} {{toYear.Name}}
        </li>
        <li class="list-group-item" ng-repeat="item in latestData">
            <span class="badge" ng-style="{backgroundColor: item.color}">{{item.value}}</span>
            {{item.field}}
        </li>
    </ul>
</div>

<div id="tableParent" ng-hide="true">

    <table class="table table-striped table-responsive view ">
        <thead>
            <tr class="success header">
                <td>Date</td>
                <td>Company Name</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>


            <tr ng-repeat="item in filtered = (tableData | filter:search  |filter:customFilter)">
                <td>{{item.Date}}</td>
                <td>{{item.CompanyName}}</td>
                <td>{{item.Status}}</td>
            </tr>

        </tbody>
    </table>
</div>


