﻿

<div class="container">

    <div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse data-allow-multiple="true" ng-model="activePanels" data-step="2" data-intro="Shows company basic info." data-position='bottom-middle-aligned'>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <a bs-collapse-toggle>
                    <h4 class="panel-title">
                        <strong>ETC</strong>
                    </h4>
                </a>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <p>660 South Figueroa Street <br /> Los Angeles, California 90017</p>
                    </div>
                    <div class="col-lg-4">
                        <b>ETCGG</b><br />
                        <small class="text-muted">Suite 1430 <br /> Phone: (213) 402-1570 <br /> E-mail: etcgggeneral@etcgg.com</small>
                    </div>
                    <div class="col-lg-4">
                        <b>ETC</b><br />
                        <small class="text-muted">Suite 1450 <br /> Phone: (213) 402-1570 <br /> E-mail: etcgeneral@etc-clearing.com</small>
                    </div>
                    <div class="col-lg-4">
                        <b>ETCPT</b><br />
                        <small class="text-muted">Suite 1470 <br /> Phone: (213) 337-8620 <br /> E-mail: etcptgeneral@etcpt.com</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <a bs-collapse-toggle>
                    <h4 class="panel-title">
                        <strong>ETCC</strong>
                    </h4>
                </a>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <p>333 Bay Street, Suite 1220 <br /> Toronto, ON, M5H 2R2</p>
                    </div>
                    <div class="col-lg-4">
                        <b>ETCGG</b><br />
                        <small class="text-muted">Phone: (416) 775-1040 <br /> E-mail: etccgeneral@etc-canada.ca</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="col-lg-4">
        <div class="form-inline">
            <label class="control-label">Department &nbsp;  </label>
            <select class="form-control"
                    data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired department."
                    ng-options="o.Name for o in departments track by o.Name"
                    ng-model="department" ng-change="LoadTable()" data-step="3" data-intro="Choose from this dropdown to filter by department." data-position='top'></select>
        </div>
    </div>

    <button type="button" class="btn btn-primary pull-right" ng-click="DownloadCompanyDirectory()" ng-disabled="btnDownload === 'Downloading..'">{{btnDownload}}</button>
    <a id="linkHolder" download style="display:none"></a>
    <div class="clearfix"></div>
    <br />

    <table class="table table-striped table-responsive view fixed" data-step="4" data-intro="Shows the results in this table." data-position='top'>
        <thead>
            <tr class="success">
                <th class="td130px">
                    <a ng-click="order('Name')">{{columns[0].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Name" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[0].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px" data-step="5" data-intro="You can sort row by clicking the table headers. And search from a specific row." data-position='top'>
                    <a ng-click="order('CompanyName')">{{columns[1].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.CompanyName" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[1].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('Title')">{{columns[2].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Title" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[2].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('Division')">{{columns[3].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Division" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[3].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td100px">
                    <a ng-click="order('Department')">{{columns[4].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Department" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[4].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td100px">
                    <a ng-click="order('CellPhone')">{{columns[5].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.CellPhone" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[5].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td100px">
                    <a ng-click="order('WorkPhone')">{{columns[6].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.WorkPhone" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[6].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td100px">
                    <a ng-click="order('AIMAdd')">{{columns[7].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.AIMAdd" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[7].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td100px">
                    <a ng-click="order('SkypeID')">{{columns[8].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.SkypeID" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[8].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="tdAuto">
                    <a ng-click="order('EmailAdd')">{{columns[9].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.EmailAdd" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[9].name" ng-class="{reverse:reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody>


            <tr ng-repeat="item in filtered = (tableData | filter:search) | orderBy:predicate:reverse | startFrom:(page.currentPage * page.size) - page.size | limitTo: page.size">
                <td class="td130px">{{item.Name}}</td>
                <td class="td130px">{{item.CompanyName}}</td>
                <td class="td130px">{{item.Title}}</td>
                <td class="td130px">{{item.Division}}</td>
                <td class="td100px">{{item.Department}}</td>
                <td class="td100px">{{item.CellPhone}}</td>
                <td class="td100px">{{item.WorkPhone}}</td>
                <td class="td100px">{{item.AIMAdd}}</td>
                <td class="td100px">{{item.SkypeID}}</td>
                <td class="tdAuto rightPadding">{{item.EmailAdd}}</td>
            </tr>
            <tr ng-hide="filtered.length">
                <td colspan="8">No data</td>
            </tr>
        </tbody>

    </table>
    <div class="row">
        <div class="col-md-2" data-step="6" data-intro="Change row count of the table." data-position='top'>
            <div class="input-group">
                <span class="input-group-addon input-sm">ROWS</span>
                <input class="form-control input-sm" type="text" ng-model="page.size" />
            </div>
        </div>

        <paging class="adjustPagingPosition"
                page="page.currentPage"
                page-size="page.size"
                total="filtered.length"
                dots="..."
                scroll-top="false"
                hide-if-empty="false    "
                ul-class="pagination pagination-sm"
                active-class="active"
                disabled-class="disabled"
                show-prev-next="true"
                data-step="7" data-intro="Navigate rows here." data-position='right'>
        </paging>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<div id="tableParent" ng-hide="true">

    <table class="table table-striped table-responsive view ">
        <thead>
            <tr class="success header">
                <td>{{columns[0].name}}</td>
                <td>{{columns[1].name}}</td>
                <td>{{columns[2].name}}</td>
                <td>{{columns[3].name}}</td>
                <td>{{columns[4].name}}</td>
                <td>{{columns[5].name}}</td>
                <td>{{columns[6].name}}</td>
                <td>{{columns[7].name}}</td>
                <td>{{columns[8].name}}</td>
                <td>{{columns[9].name}}</td>
            </tr>
        </thead>
        <tbody>


            <tr ng-repeat="item in filtered = (tableData | filter:search) | orderBy:predicate:reverse | filter:customFilter">
                <td>{{item.Name}}</td>
                <td>{{item.CompanyName}}</td>
                <td>{{item.Title}}</td>
                <td>{{item.Division}}</td>
                <td>{{item.Department}}</td>
                <td>{{item.CellPhone}}</td>
                <td>{{item.WorkPhone}}</td>
                <td>{{item.AIMAdd}}</td>
                <td>{{item.SkypeID}}</td>
                <td>{{item.EmailAdd}}</td>
            </tr>

        </tbody>
    </table>
</div>
<div id="topHeader" ng-hide="true">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a>
                <h4 class="panel-title">
                    <strong>ETC</strong>
                </h4>
            </a>
        </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p>660 South Figueroa Street <br /> Los Angeles, California 90017</p>
                    </div>
                </div>
                <table class="borderless">
                    <tr>
                        <td>
                            <b>ETCGG</b><br />
                            <small class="text-muted">Suite 1430 <br /> Phone: (213) 402-1570 <br /> E-mail: etcgggeneral@etcgg.com</small>
                        </td>
                        <td>
                            <b>ETC</b><br />
                            <small class="text-muted">Suite 1450 <br /> Phone: (213) 402-1570 <br /> E-mail: etcgeneral@etc-clearing.com</small>
                        </td>
                        <td>
                            <b>ETCPT</b><br />
                            <small class="text-muted">Suite 1470 <br /> Phone: (213) 337-8620 <br /> E-mail: etcptgeneral@etcpt.com</small>
                        </td>
                    </tr>
                   
                </table>
            </div>
        
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a>
                <h4 class="panel-title">
                    <strong>ETCC</strong>
                </h4>
            </a>
        </div>
        
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p>333 Bay Street, Suite 1220 <br /> Toronto, ON, M5H 2R2</p>
                    </div>
                    <div class="col-lg-4">
                        <b>ETCGG</b><br />
                        <small class="text-muted">Phone: (416) 775-1040 <br /> E-mail: etccgeneral@etc-canada.ca</small>
                    </div>
                </div>
            </div>
        
    </div>
</div>
<div id="reportParameters" ng-hide="true">
    <ul class="list-group">
        <li class="list-group-item">
            <label>Department:</label> &nbsp; {{department.Name}}
        </li>

    </ul>

</div>