﻿<div class="container">
    <div class="row" data-step="2" data-intro="Choose from the dropdowns to filter desired date of Clearing Revenue results." data-position='bottom-middle-aligned'>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">From</label>
                <select class="form-control" ng-change="ChangeDates();"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired month."
                        ng-options="o.Name for o in months track by o.Name"
                        ng-model="fromMonth"></select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <select class="form-control" ng-change="ChangeDates();"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired year."
                        ng-options="o.Name for o in years track by o.Name"
                        ng-model="fromYear"></select>

            </div>
        </div>

        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">To</label>
                <select class="form-control" ng-change="ChangeDates();"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired month."
                        ng-options="o.Name for o in months track by o.Name"
                        ng-model="toMonth"></select>
            </div>
        </div>
        <div class="col-md-2" >
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <select class="form-control" ng-change="ChangeDates();"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired year."
                        ng-options="o.Name for o in years track by o.Name"
                        ng-model="toYear"></select>

            </div>
        </div>


    </div>
    <br />
    <div class="panel-group" ng-model="activePanels" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>

        <div class="panel panel-success" data-step="4" data-intro="Shows chart/table data." data-position='bottom-middle-aligned'>
            <div class="panel-heading">
                <span class="pull-right">
                    <!--<a class="btn-sm" data-step="5" 
                       data-toggle="tooltip" data-placement="bottom" title="Click here to download as PDF. Make sure the chart was finished loading."
                       data-intro="Click here to download as PDF. Make sure the chart was finished loading." data-position='bottom-middle-aligned'>
                        Download PDF &nbsp;<span class="glyphicon glyphicon-download"></span>
                    </a>-->
                    <a class="btn-sm" ng-click="ChangeView()" data-step="3"
                       data-toggle="tooltip" data-placement="bottom" title="Click here to toggle detailed view."
                       data-intro="Click here to change to detailed view" data-position='bottom-middle-aligned'>
                        Toggle View &nbsp;<span class="glyphicon glyphicon-refresh"></span>
                    </a>

                </span>
                <h3 class="panel-title">Clearing Revenue</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-12" ng-model="test">
                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>


                        <div class="pull-right">
                            <span class="label label-info">Clearing Revenue</span> &nbsp;<span class="label label-warning">Share Count</span>
                        </div>
                        <canvas id="chartImage" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-colours="chartColors" ></canvas>


                    </div>
                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                        <table class="table table-striped table-responsive view">
                            <thead>
                                <tr class="success">
                                    <th>Date</th>
                                    <th>Share Count</th>
                                    <th>Clearing Revenue</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="item in chatClearingTable">
                                    <td>{{item.Date}}</td>
                                    <td class="rightAlign">{{item.ShareCount | number}}</td>
                                    <td class="rightAlign">${{item.ChatClearingRevenue | number:2}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

