﻿<div class="container">

    <div class="form-inline">
        <label class="control-label">Department&nbsp;</label>
        <select class="form-control"
                data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired department."
                ng-options="o.Name for o in departments track by o.Name"
                ng-model="department" ng-change="LoadTable()" data-step="2" data-intro="Choose from this dropdown to filter by department." data-position='bottom-middle-aligned'></select>
        &nbsp;&nbsp;
        <label class="addMarginTop5px">
            Active&nbsp;
            <input type="checkbox" ng-model="status" ng-change="LoadTable()"
                   data-toggle="tooltip" data-placement="bottom" title="Toggle to show/hide active employees."
                   data-step="3" data-intro="Check/uncheck to show or hide active employees" data-position='bottom-middle-aligned' />

        </label>
        <a class="btn btn-primary pull-right" ng-click="showModal(0,'Add Employee')"
           data-toggle="tooltip" data-placement="bottom" title="Click here to add employee."
           data-step="4" data-intro="Click here to add employee." data-position='left'>Add Employee</a>
    </div>

    <div class="clearfix"></div>
    <br />

    <table class="table table-striped table-responsive table-hover view fixed" data-step="5" data-intro="Shows the results in this table." data-position='bottom-middle-aligned'>
        <thead>
            <tr class="success">
                <th class="td130px">
                    <a ng-click="order('Name')">{{columns[0].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Name" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[0].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px" data-step="6" data-intro="You can sort row by clicking the table headers. And search from a specific row." data-position='bottom-middle-aligned'>
                    <a ng-click="order('CompanyName')">{{columns[1].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.CompanyName" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[1].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('Title')">{{columns[2].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Title" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[2].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('Division')">{{columns[3].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Division" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[3].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('Department')">{{columns[4].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Department" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[4].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('CellPhone')">{{columns[5].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.CellPhone" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[5].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('HomePhone')">{{columns[6].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.HomePhone" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[6].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('AIMID')">{{columns[7].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.AIMID" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[7].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="tdAuto">
                    <a ng-click="order('EmploymentStatus')">{{columns[8].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.EmploymentStatus" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[8].name" ng-class="{reverse:reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-click="showModal(item.EmployeeID,item.Name)" ng-repeat="item in filtered = (tableData | filter:search) | orderBy:predicate:reverse | startFrom:(page.currentPage * page.size) - page.size | limitTo: page.size">
                <td class="td130px">{{item.Name}}</td>
                <td class="td130px">{{item.CompanyName}}</td>
                <td class="td130px">{{item.Title}}</td>
                <td class="td130px">{{item.Division}}</td>
                <td class="td130px">{{item.Department}}</td>
                <td class="td130px">{{item.CellPhone}}</td>
                <td class="td130px">{{item.HomePhone}}</td>
                <td class="td130px">{{item.AIMID}}</td>
                <td class="tdAuto rightPadding">{{item.EmploymentStatus}}</td>
            </tr>
            <tr ng-hide="filtered.length">
                <td colspan="8">No data</td>
            </tr>
        </tbody>

    </table>
    <div class="row">
        <div class="col-md-2" data-step="7" data-intro="Change row count of the table." data-position='top'>
            <div class="input-group">
                <span class="input-group-addon input-sm">ROWS</span>
                <input class="form-control input-sm" type="text" ng-model="page.size" />
            </div>
        </div>

        <paging class="adjustPagingPosition"
                page="page.currentPage"
                page-size="page.size"
                total="filtered.length"
                dots="..."
                scroll-top="false"
                hide-if-empty="false    "
                ul-class="pagination pagination-sm"
                active-class="active"
                disabled-class="disabled"
                show-prev-next="true"
                data-step="8" data-intro="Navigate rows here." data-position='right'>
        </paging>
    </div>

</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


