﻿<div class="modal" ng-intro-options="IntroOptionsEmployeeProfile" ng-intro-method="CallMeEmployeeProfile"
     ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
     ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
     ng-intro-autostart="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content panel-body" id="one" data-step="1">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{title}}</h4>


                <div class="pull-right">
                    <a ng-click="CallMeEmployeeProfile(1);"><span class="glyphicon glyphicon-question-sign pullTop"></span></a>
                </div>
            </div>

            <form class="modal-body" name="myForm" ng-submit="Save()">
                <div class="row underLine">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Company Name</label>
                            <select class="form-control"
                                    ng-options="o.Name for o in companies track by o.Name"
                                    ng-model="employee.CompanyName"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Division</label>
                            <select class="form-control"
                                    ng-options="o.Name for o in divisions track by o.Name"
                                    ng-model="employee.Division"></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Department</label>
                            <select class="form-control"
                                    ng-options="o.Name for o in departments track by o.Name"
                                    ng-model="employee.Department"></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Manager</label>
                            <select class="form-control"
                                    ng-options="o.Name for o in employeeNames track by o.Name"
                                    ng-model="employee.Manager"></select>
                        </div>
                    </div>
                </div>
                <div class="row underLine">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input class="form-control" type="text" ng-model="employee.Title" maxlength="150" />
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Division Manager</label><br />
                            <input type="checkbox" ng-model="employee.DivisionManager" />
                        </div>
                    </div>
                </div>
                <div class="row underLine">


                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input class="form-control" type="text" ng-model="employee.FirstName" maxlength="30" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <input class="form-control" type="text" ng-model="employee.LastName" maxlength="30" required />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Hire Date</label>
                            <input class="form-control" type="text" ng-model="employee.HireDate" bs-datepicker data-autoclose="1" data-date-type="number" data-date-format="MM-dd-yyyy">
                        </div>
                    </div>

                </div>
                <div class="row underLine">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Work Cell Phone</label>
                            <input class="form-control" type="tel" ng-model="employee.CellPhone" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Work Phone</label>
                            <input class="form-control" type="text" ng-model="employee.WorkPhone" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Home Phone</label>
                            <input class="form-control" type="tel" ng-model="employee.HomePhone" maxlength="10" />
                        </div>
                    </div>
                </div>
                <div class="row underLine">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Office Email</label>
                            <input class="form-control" type="email" ng-model="employee.EmailAdd" maxlength="50" required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Personal Email</label>
                            <input class="form-control" type="email" ng-model="employee.AltEmailAdd" maxlength="50" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">AIM ID</label>
                            <input class="form-control" type="text" ng-model="employee.AIMID" maxlength="30" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Skype ID</label>
                            <input class="form-control" type="text" ng-model="employee.SkypeID" maxlength="30" />
                        </div>
                    </div>
                </div>
                <div class="row underLine">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Employment Status</label>
                            <select class="form-control"
                                    ng-options="o.Name for o in employmentStatuses track by o.Name"
                                    ng-model="employee.EmploymentStatus"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <select class="form-control" ng-model="employee.Status">
                                <option>Active</option>
                                <option>Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <span class="label label-danger" ng-show="message">{{message}}</span>


                    <a ng-show="employeeID" auto-close="1" data-placement="top" class="btn btn-danger" data-template-url="APP/Views/popOverDeleteEmployeeConfirmation.tpl.html" data-animation="am-flip-x" bs-popover>
                        Delete
                    </a>





                    <button class="btn btn-primary" type="submit" id="two" data-step="2">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>