﻿<div class="modal" ng-intro-options="IntroOptionsCalendar" ng-intro-method="CallMeCalendar"
     ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
     ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
     ng-intro-autostart="false">
    <div class="modal-dialog modal-lg" id="one" data-step="1">
        <div class="modal-content panel-body">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{header}}</h4>
                <div class="pull-right">
                    <a ng-click="CallMeCalendar(1)"><span class="glyphicon glyphicon-question-sign pullTop"></span></a>
                </div>
            </div>
            <div class="modal-body">
                <div ng-include="activePage"></div>
                <div class="row" ng-if="!activePage">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Date(From)</label>
                            <input type="text" class="form-control" ng-model="selectedEvent.start" disabled>
                        </div>
                    </div>
                    <div class="col-lg-4" ng-hide="(selectedEvent.end === 'December 31, 1969' || !selectedEvent.end)">
                        <div class="form-group">
                            <label class="control-label">Date(To)</label>
                            <input type="text" class="form-control" ng-model="selectedEvent.end" disabled>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>