﻿<div class="container">
    <div class="form-inline">
        <label class="control-label">Month</label>
        <select class="form-control" ng-change="LoadTable()"
                ng-options="o.Name for o in months track by o.Name"
                data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired month."
                ng-model="month" data-step="2" data-intro="Choose from this dropdown to filter results by Month." data-position='bottom-right-aligned'></select> &nbsp; &nbsp;
        <label class="control-label">Year</label>

        <select class="form-control" ng-change="LoadTable()"
                ng-options="o.Name for o in years track by o.Name"
                data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired year."
                ng-model="year" data-step="3" data-intro="Choose from this dropdown to filter results by Year." data-position='bottom-right-aligned'></select>
    </div>
    <br />


    <table class="table table-striped table-responsive view fixed" data-step="4" data-intro="Shows the results in this table." data-position='bottom-right-aligned'>
        <thead>
            <tr class="success">
                <th class="td130px" data-step="5" data-intro="You can sort row by clicking the table headers. And search from a specific row." data-position='top'>
                    <a ng-click="order('CompanyName')">{{columns[0].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.CompanyName" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[0].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('RollUp')">{{columns[1].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.RollUp" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[1].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('ShareCount')">{{columns[2].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.ShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[2].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('Rate')">{{columns[3].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Rate" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[3].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td145px">
                    <a ng-click="order('ChargePerShare')">{{columns[4].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.ChargePerShare" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[4].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('ActualCharge')">{{columns[5].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.ActualCharge" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[5].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('FeeSchedule')">{{columns[6].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.FeeSchedule" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[6].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('FeeMatrix')">{{columns[7].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.FeeMatrix" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[7].name" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td130px">
                    <a ng-click="order('Account')">{{columns[8].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Account" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === columns[8].name" ng-class="{reverse:reverse}"></span>
                </th>
            </tr>

        </thead>

        <tbody>


            <tr ng-repeat="item in filtered = (tableData | filter:search) | orderBy:predicate:reverse | startFrom:(page.currentPage * page.size) - page.size | limitTo: page.size">
                <td class="td130px">{{item.CompanyName}}</td>
                <td class="td130px">{{item.RollUp}}</td>
                <td class="rightAlign td130px">{{item.ShareCount | number}}</td>
                <td class="rightAlign td130px">{{item.Rate}}</td>
                <td class="rightAlign td145px">${{item.ChargePerShare | number:2}}</td>
                <td class="rightAlign td130px">${{item.ActualCharge | number:2}}</td>
                <td class="td130px">{{item.FeeSchedule}}</td>
                <td class="td130px">{{item.FeeMatrix}}</td>
                <td class="td130px">{{item.Account}}</td>
            </tr>


            <tr ng-hide="filtered.length">
                <td colspan="8">No data</td>
            </tr>
        </tbody>

    </table>
</div>
<div class="container totalFooter">
    <table class="table table-striped table-responsive view footerFixed">
        <tr class="success">
            <td class="td130px">Count:</td>
            <td class="rightAlign td130px">{{tableData.length}}</td>
            <td class="rightAlign td130px">{{CalculateTotal('ShareCount') | number}}</td>
            <td class="td130px"></td>
            <td class="rightAlign td145px">${{CalculateTotal('ChargePerShare') | number:2}}</td>
            <td class="rightAlign td130px">${{CalculateTotal('ActualCharge') | number:2}}</td>
            <td class="td130px"></td>
            <td class="td130px"></td>
            <td class="td130px"></td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2" data-step="6" data-intro="Change row count of the table." data-position='top'>
            <div class="input-group">
                <span class="input-group-addon input-sm">ROWS</span>
                <input class="form-control input-sm" type="text" ng-model="page.size" />
            </div>
        </div>

        <paging class="adjustPagingPosition"
                page="page.currentPage"
                page-size="page.size"
                total="filtered.length"
                dots="..."
                scroll-top="false"
                hide-if-empty="false    "
                ul-class="pagination pagination-sm"
                active-class="active"
                disabled-class="disabled"
                show-prev-next="true"
                data-step="7" data-intro="Navigate rows here." data-position='right'>
        </paging>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>



