﻿<div class="container">
    <div class="row">

        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">Month</label>
                <select class="form-control" ng-change="LoadTable();"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired month."
                        ng-options="o.Name for o in months track by o.Name"
                        ng-model="month" data-step="2" data-intro="Choose from this dropdown to filter results by Month." data-position='bottom-right-aligned'></select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">Year</label>
                <select class="form-control" ng-change="LoadTable();"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired year."
                        ng-options="o.Name for o in years track by o.Name"
                        ng-model="year" data-step="3" data-intro="Choose from this dropdown to filter results by Year." data-position='right'></select>
            </div>
        </div>

    </div>

    <table class="table table-responsive view" data-step="4" data-intro="Shows the results in this table." data-position='bottom-middle-aligned'>
        <tbody class="removeLastRow">
            <tr ng-class="{success:isIncludedInList2(item.Title),warning:isIncludedInList(item.Title,item.Amount1)}" ng-repeat="item in tableData">
                <td class="td515px">{{item.Title}}</td>
                <td class="rightAlign td215px">{{item.Amount1}}</td>
                <td class="rightAlign td215px">{{item.Amount2}}</td>
                <td class="rightAlign td215px">{{item.Amount3}}</td>
            </tr>
        </tbody>
    </table>

</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

