﻿

<div class="popover" tabindex="-1">
    <div class="arrow"></div>
    <h3 class="popover-title">
        <label>Confirmation</label>
    </h3>
    <div class="popover-content confirmation">
        Are you sure you want to delete calendar?
        <br /><br />
        <a class="btn btn-danger" ng-click="$hide()">Cancel</a>


        <a class="btn btn-primary" ng-click="delete(CalendarID);$hide()">Yes</a>



    </div>
</div>

