﻿<div class="container">
  
    <div class="pull-right addMarginTop5px"><br />
        <div class="form-inline">
            <label class="control-label">Sales Rep</label>
            <select class="form-control"
                    ng-options="o.Name for o in salesReps track by o.Name"
                    data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired Sales Rep."
                    ng-model="salesRep" data-step="4" data-intro="Choose from this dropdown to filter results by Sales Rep." data-position='bottom-right-aligned'>
                <option value=""></option>
            </select>

            <button type="button" class="btn btn-primary" ng-click="downloadPDF()" ng-disabled="downloadText === 'Downloading..'">{{downloadText}}</button>
            <button type="button" class="btn btn-primary" ng-click="RefreshReport();"
                    data-toggle="tooltip" data-placement="bottom" title="Click here to refresh report."
                    data-step="5" data-intro="Click here to refresh report." data-position='bottom-middle-aligned'>
                Refresh Report
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">Month</label>
                <select class="form-control" ng-change="LoadTable();"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired month."
                        ng-options="o.Name for o in months track by o.Name"
                        ng-model="month" data-step="2" data-intro="Choose from this dropdown to filter results by Month." data-position='bottom-right-aligned'></select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">Year</label>
                <select class="form-control" ng-change="LoadTable();"
                        data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired year."
                        ng-options="o.Name for o in years track by o.Name"
                        ng-model="year" data-step="3" data-intro="Choose from this dropdown to filter results by Year." data-position='bottom-right-aligned'></select>
            </div>
        </div>
    </div>
    <div id="summaryTable">
        <table class="table table-responsive view" data-step="6" data-intro="Shows the Summary result in this table." data-position='bottom-right-aligned'>
            <thead>
                <tr class="success">
                    <th colspan="12">SUMMARY</th>
                </tr>
                <tr class="warning header">
                    <td>Period</td>
                    <td>Total Expense</td>
                    <td>Total Revenue</td>
                    <td>Total Net Revenue</td>
                    <td>Client Count</td>
                    <td>Expense Per Client</td>
                    <td>Sales %</td>
                    <td>Sales $</td>
                    <td>ETC %</td>
                    <td>ETC $</td>
                    <td>EBITDA</td>
                    <td>ETC Pool</td>
                </tr>

            </thead>
            <tbody>
                <tr class="success" ng-repeat="item in tableData">
                    <td>{{item.Period}}</td>
                    <td class="rightAlign">{{item.TotalExpense}}</td>
                    <td class="rightAlign">{{item.TotalRevenue0}}</td>
                    <td class="rightAlign">{{item.TotalNetReven0ue}}</td>
                    <td class="rightAlign">{{item.Title}}</td>
                    <td class="rightAlign">{{item.ClientCount}}</td>
                    <td class="rightAlign">{{item.ExpensePerClient}}</td>
                    <td class="rightAlign">{{item.SalesDollar}}</td>
                    <td class="rightAlign">{{item.ETCPercent}}</td>
                    <td class="rightAlign">{{item.ETCDollar}}</td>
                    <td class="rightAlign">{{item.EBITDA}}</td>
                    <td class="rightAlign">{{item.ETCPool}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <table class="table table-responsive table-striped view fixed" data-step="7" data-intro="Shows the Detailed result in this table.">
        <thead>
            <tr class="success">
                <th colspan="12">DETAILS</th>
            </tr>
            <tr class="warning">
                <th class="td195px" data-step="8" data-intro="You can sort row by clicking the table headers. And search from a specific row." data-position='top'>
                    <a ng-click="order('Account')">Account</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Account" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'Account'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td195px">
                    <a ng-click="order('SalesRep')">Sales Rep</a>
                    <input class="form-control input-sm" type="text" ng-model="search.SalesRep" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'SalesRep'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td195px">
                    <a ng-click="order('Revenue')">Revenue</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Revenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'Revenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td195px">
                    <a ng-click="order('NetRevenue')">Net Revenue</a>
                    <input class="form-control input-sm" type="text" ng-model="search.NetRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'NetRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td195px">
                    <a ng-click="order('SalesPercent')">Sales %</a>
                    <input class="form-control input-sm" type="text" ng-model="search.SalesPercent" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'SalesPercent'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td195px">
                    <a ng-click="order('SalesDollar')">Sales $</a>
                    <input class="form-control input-sm" type="text" ng-model="search.SalesDollar" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'SalesDollar'" ng-class="{reverse:reverse}"></span>
                </th>

            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="item in filtered = (tableData2 | filter:search) | orderBy:predicate:reverse | startFrom:(page.currentPage * page.size) - page.size | limitTo: page.size">
                <td class="td195px">{{item.Account}}</td>
                <td class="td195px">{{item.SalesRep}}</td>
                <td class="rightAlign td195px">{{item.Revenue}}</td>
                <td class="rightAlign td195px">{{item.NetRevenue}}</td>
                <td class="rightAlign td195px">{{item.SalesPercent}}</td>
                <td class="rightAlign rightPadding td195px">{{item.SalesDollar}}</td>
            </tr>
        </tbody>
    </table>


    <div class="row">
        <div class="col-md-2" data-step="9" data-intro="Change row count of the table." data-position='top'>
            <div class="input-group">
                <span class="input-group-addon input-sm">ROWS</span>
                <input class="form-control input-sm" type="text" ng-model="page.size" />
            </div>
        </div>

        <paging class="adjustPagingPosition"
                page="page.currentPage"
                page-size="page.size"
                total="filtered.length"
                dots="..."
                scroll-top="false"
                hide-if-empty="false    "
                ul-class="pagination pagination-sm"
                active-class="active"
                disabled-class="disabled"
                show-prev-next="true"
                data-step="10" data-intro="Navigate rows here." data-position='right'>
        </paging>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<div id="tableParent" ng-hide="true">

    <table class="table table-striped table-responsive view fixed">
        <thead>
            <tr class="success header">
                <td>Account</td>
                <td>Sales Rep</td>
                <td>Revenue</td>
                <td>Net Revenue</td>
                <td>Sales %</td>
                <td>Sales $</td>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="item in filtered = (tableData2 | filter:search  |filter:customFilter)">
                <td>{{item.Account}}</td>
                <td>{{item.SalesRep}}</td>
                <td>{{item.Revenue}}</td>
                <td>{{item.NetRevenue}}</td>
                <td>{{item.SalesPercent}}</td>
                <td>{{item.SalesDollar}}</td>
            </tr>

        </tbody>
    </table>
</div>
<div id="reportParameters" ng-hide="true">
    <ul class="list-group">
        <li class="list-group-item">
            <label>Month:</label> {{month.Name}}
        </li>
        <li class="list-group-item">
            <label>Year:</label> {{year.Name}}
        </li>

    </ul>

</div>