﻿<div class="container">


    <div class="form-inline">
        <label class="control-label">Company Name</label>
        <select class="form-control" ng-change="LoadTable()"
                ng-options="o.Name for o in companies track by o.Name"
                data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired Company name."
                ng-model="company" data-step="2" data-intro="Choose from this dropdown to filter results by Company Name." data-position='bottom-right-aligned'></select>

    </div>

    <br />

    <table class="table table-responsive view" data-step="3" data-intro="Shows the results in this table.">

        <tbody class="removeLastRow">
            <tr ng-repeat="item in tableData" ng-class="{warning:isIncludedInList2(item.Record1,item.Record2,$index),success:isIncludedInList($index)+isIncludedInList3(item.Record1)}">
                <td>{{item.Record1}}</td>
                <td style="text-align:center;">{{item.Record2}}</td>
                <td class="rightAlign">{{item.Record3}}</td>
                <td class="rightAlign">{{item.Record4}}</td>
                <td class="rightAlign">{{item.Record5}}</td>
            </tr>
        </tbody>
    </table>

</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
