﻿<div class="container form-inline">
    <label class="control-label">Year</label>&nbsp;&nbsp;
    <select class="form-control" ng-change="LoadTable()"
            ng-options="o.Name for o in years track by o.Name"
            data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to display desired year."
            ng-model="year" data-step="2" data-intro="Choose from this dropdown to filter results by Year." data-position='bottom-right-aligned'></select>

    <!--Hide/Unhide Columns-->
    <div class="pull-right">
        <div isteven-multi-select input-model="columns" id="columns"
             output-model="outputBrowsers"
             button-label="name"
             item-label="name"
             tick-property="ticked"
             max-labels="3"
             data-toggle="tooltip" data-placement="bottom" title="Choose from this dropdown to hide/show columns."
             data-step="3" data-intro="Click here to Hide/Show columns." data-position='bottom-right-aligned'>
        </div>
    </div>

    <label for="columns" class="control-label  pull-right addMarginTop8px">Columns&nbsp;&nbsp;</label>

</div>

<br />
<div class="flexiScrolableTable container-fluid" data-step="4" data-intro="Shows the results in this table." data-position='bottom-right-aligned'>
    <table class="table table-striped table-responsive wideTable view fixed yearlyrevenueFont">
        <thead>
            <tr class="success">
                <th class="td100px" ng-hide="!columns[0].ticked" data-step="5" data-intro="You can sort row by clicking the table headers. And search from a specific row." data-position='right'>
                    <a ng-click="order('Account')">{{columns[0].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.Account" delete-if-empty />
                    <span class="sortorder" ng-show="predicate ==='Account'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[1].ticked">
                    <a ng-click="order('AgreementTerms')">{{columns[1].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.AgreementTerms" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'AgreementTerms'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[2].ticked">
                    <a ng-click="order('JanuaryRevenue')">{{columns[2].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.JanuaryRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'JanuaryRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[3].ticked">
                    <a ng-click="order('JanuaryShareCount')">{{columns[3].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.JanuaryShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'JanuaryShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[4].ticked">
                    <a ng-click="order('FebruaryRevenue')">{{columns[4].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.FebruaryRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'FebruaryRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[5].ticked">
                    <a ng-click="order('FebruaryShareCount')">{{columns[5].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.FebruaryShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'FebruaryShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[6].ticked">
                    <a ng-click="order('MarchRevenue')">{{columns[6].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.MarchRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'MarchRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[7].ticked">
                    <a ng-click="order('MarchShareCount')">{{columns[7].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.MarchShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'MarchShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[8].ticked">
                    <a ng-click="order('AprilRevenue')">{{columns[8].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.AprilRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'AprilRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[9].ticked">
                    <a ng-click="order('AprilShareCount')">{{columns[9].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.AprilShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'AprilShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[10].ticked">
                    <a ng-click="order('MayRevenue')">{{columns[10].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.MayRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'MayRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[11].ticked">
                    <a ng-click="order('MayShareCount')">{{columns[11].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.MayShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'MayShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[12].ticked">
                    <a ng-click="order('JuneRevenue')">{{columns[12].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.JuneRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'JuneRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[13].ticked">
                    <a ng-click="order('JuneShareCount')">{{columns[13].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.JuneShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'JuneShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[14].ticked">
                    <a ng-click="order('JulyRevenue')">{{columns[14].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.JulyRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'JulyRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[15].ticked">
                    <a ng-click="order('JulyShareCount')">{{columns[15].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.JulyShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'JulyShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[16].ticked">
                    <a ng-click="order('AugustRevenue')">{{columns[16].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.AugustRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'AugustRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[17].ticked">
                    <a ng-click="order('AugustShareCount')">{{columns[17].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.AugustShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'AugustShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[18].ticked">
                    <a ng-click="order('SeptemberRevenue')">{{columns[18].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.SeptemberRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'SeptemberRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[19].ticked">
                    <a ng-click="order('SeptemberShareCount')">{{columns[19].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.SeptemberShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'SeptemberShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[20].ticked">
                    <a ng-click="order('OctoberRevenue')">{{columns[20].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.OctoberRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'OctoberRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[21].ticked">
                    <a ng-click="order('OctoberShareCount')">{{columns[21].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.OctoberShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'OctoberShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[22].ticked">
                    <a ng-click="order('NovemberRevenue')">{{columns[22].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.NovemberRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'NovemberRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[23].ticked">
                    <a ng-click="order('NovemberShareCount')">{{columns[23].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.NovemberShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'NovemberShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[24].ticked">
                    <a ng-click="order('DecemberRevenue')">{{columns[24].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.DecemberRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'DecemberRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[25].ticked">
                    <a ng-click="order('DecemberShareCount')">{{columns[25].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.DecemberShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'DecemberShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td140px" ng-hide="!columns[26].ticked">
                    <a ng-click="order('TotalShareCount')">{{columns[26].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.TotalShareCount" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'TotalShareCount'" ng-class="{reverse:reverse}"></span>
                </th>
                <th class="td115px" ng-hide="!columns[27].ticked">
                    <a ng-click="order('TotalRevenue')">{{columns[27].name}}</a>
                    <input class="form-control input-sm" type="text" ng-model="search.TotalRevenue" delete-if-empty />
                    <span class="sortorder" ng-show="predicate === 'TotalRevenue'" ng-class="{reverse:reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody>


            <tr ng-repeat="item in filtered = (tableData | filter:search) | orderBy:predicate:reverse | startFrom:(page.currentPage * page.size) - page.size | limitTo: page.size">
                <td class="td100px" ng-hide="!columns[0].ticked">{{item.Account}}</td>
                <td class="td140px" ng-hide="!columns[1].ticked">{{item.AgreementTerms}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[2].ticked">${{item.JanuaryRevenue | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[3].ticked">{{item.JanuaryShareCount | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[4].ticked">${{item.FebruaryRevenue | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[5].ticked">{{item.FebruaryShareCount | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[6].ticked">${{item.MarchRevenue | number:2 }}</td>
                <td class="td140px rightAlign" ng-hide="!columns[7].ticked">{{item.MarchShareCount | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[8].ticked">${{item.AprilRevenue | number:2 }}</td>
                <td class="td140px rightAlign" ng-hide="!columns[9].ticked">{{item.AprilShareCount | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[10].ticked">${{item.MayRevenue | number:2 }}</td>
                <td class="td140px rightAlign" ng-hide="!columns[11].ticked">{{item.MayShareCount | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[12].ticked">${{item.JuneRevenue | number:2 }}</td>
                <td class="td140px rightAlign" ng-hide="!columns[13].ticked">{{item.JuneShareCount | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[14].ticked">${{item.JulyRevenue | number:2 }}</td>
                <td class="td140px rightAlign" ng-hide="!columns[15].ticked">{{item.JulyShareCount | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[16].ticked">${{item.AugustRevenue | number:2 }}</td>
                <td class="td140px rightAlign" ng-hide="!columns[17].ticked">{{item.AugustShareCount | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[18].ticked">${{item.SeptemberRevenue | number:2 }}</td>
                <td class="td140px rightAlign" ng-hide="!columns[19].ticked">{{item.SeptemberShareCount | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[20].ticked">${{item.OctoberRevenue | number:2 }}</td>
                <td class="td140px rightAlign" ng-hide="!columns[21].ticked">{{item.OctoberShareCount | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[22].ticked">${{item.NovemberRevenue | number:2 }}</td>
                <td class="td140px rightAlign" ng-hide="!columns[23].ticked">{{item.NovemberShareCount | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[24].ticked">${{item.DecemberRevenue | number:2 }}</td>
                <td class="td140px rightAlign" ng-hide="!columns[25].ticked">{{item.DecemberShareCount | number}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[26].ticked">{{item.TotalShareCount | number}}</td>
                <td class="td115px rightAlign rightPadding" ng-hide="!columns[27].ticked">${{item.TotalRevenue | number:2 }}</td>

            </tr>

            <tr ng-hide="filtered.length">
                <td colspan="8">No data</td>
            </tr>
        </tbody>
        <tbody class="fixedHeight totalFooter">
            <!--total-->
            <tr class="success">
                <td class="td100px" ng-hide="!columns[0].ticked">Total:</td>
                <td class="td140px" ng-hide="!columns[1].ticked"></td>
                <td class="td115px rightAlign" ng-hide="!columns[2].ticked">${{CalculateTotal('JanuaryRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[3].ticked">{{CalculateTotal('JanuaryShareCount') | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[4].ticked">${{CalculateTotal('FebruaryRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[5].ticked">{{CalculateTotal('FebruaryShareCount') | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[6].ticked">${{CalculateTotal('MarchRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[7].ticked">{{CalculateTotal('MarchShareCount') | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[8].ticked">${{CalculateTotal('AprilRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[9].ticked">{{CalculateTotal('AprilShareCount') | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[10].ticked">${{CalculateTotal('MayRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[11].ticked">{{CalculateTotal('MayShareCount') | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[12].ticked">${{CalculateTotal('JuneRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[13].ticked">{{CalculateTotal('JuneShareCount') | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[14].ticked">${{CalculateTotal('JulyRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[15].ticked">{{CalculateTotal('JulyShareCount') | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[16].ticked">${{CalculateTotal('AugustRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[17].ticked">{{CalculateTotal('AugustShareCount') | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[18].ticked">${{CalculateTotal('SeptemberRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[19].ticked">{{CalculateTotal('SeptemberShareCount') | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[20].ticked">${{CalculateTotal('OctoberRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[21].ticked">{{CalculateTotal('OctoberShareCount') | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[22].ticked">${{CalculateTotal('NovemberRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[23].ticked">{{CalculateTotal('NovemberShareCount') | number}}</td>
                <td class="td115px rightAlign" ng-hide="!columns[24].ticked">${{CalculateTotal('DecemberRevenue') | number:2}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[25].ticked">{{CalculateTotal('DecemberShareCount') | number}}</td>
                <td class="td140px rightAlign" ng-hide="!columns[26].ticked">{{CalculateTotal('TotalShareCount') | number}}</td>
                <td class="td115px rightAlign rightPadding" ng-hide="!columns[27].ticked">${{CalculateTotal('TotalRevenue') | number:2}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2" data-step="6" data-intro="Change row count of the table." data-position='top'>
            <div class="input-group">
                <span class="input-group-addon input-sm">ROWS</span>
                <input class="form-control input-sm" type="text" ng-model="page.size" />
            </div>
        </div>

        <paging class="adjustPagingPosition"
                page="page.currentPage"
                page-size="page.size"
                total="filtered.length"
                dots="..."
                scroll-top="false"
                hide-if-empty="false    "
                ul-class="pagination pagination-sm"
                active-class="active"
                disabled-class="disabled"
                show-prev-next="true"
                data-step="7" data-intro="Navigate rows here." data-position='right'>
        </paging>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>